.quickBook {
  background-image: url("/images/quick_book_bg.svg");
  height: 227px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding: 18px 81px;
  position: relative;
  margin: 0 110px;
}

.quickBookTabsList {
  list-style: none;
  font-size: 14px;
  display: flex;
}

.quickBookTabsLi {
  padding: 16px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quickBookTabsLi a {
  color: #dfdfdf;
  text-decoration: none;
  display: inline-block;
}

.quickBookTabsLi a:hover {
  border-bottom: 1px solid white;
  color: white;
}

.vehicleSelect {
  background-color: #ffffff23;
  color: #ffffff;
  border: none;
  padding: 9px 16px;
  margin: 14px 0px;
  border-radius: 50px;
  cursor: pointer;
}

.vehicleSelect option {
  background-color: #ac171d;
  color: white;
}

.bookInput {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
}

.locationSelect,
.startTime,
.endTime {
  padding: 8px 20px;
  border-radius: 16px;
  border: none;
  margin-right: 16px;
  margin-bottom: 4px;
  flex: 1;
  cursor: pointer;
}

.searchButton {
  border-radius: 50px;
  border: none;
  margin-right: 16px;
  margin-bottom: 4px;
  cursor: pointer;
}

.vDivider {
  border-right: 1px solid #ffffff;
  width: 1px;
  height: 32px;
  margin-right: 16px;
}

.quickBookButton {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  padding: 10px 77px;
  border-radius: 16px;
  cursor: pointer;
}

.quickBookButton:hover {
  background-color: #ffffff6f;
}

.quickBookButton::after {
  transform: scale(0.95);
}

.appStore {
  display: flex;
  align-items: center;
}

.downloadPara {
  margin-right: 19px;
  color: #ffffff;
  line-height: 21px;
  font-size: 14px;
  font-weight: 300;
}

.storeDownloadImage {
  margin-right: 9px;
  cursor: pointer;
}

.iconsSide {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  gap: 20px;
  top: 180px;
}

.iconButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.sideButtonBg {
  margin-right: -45px;
  margin-bottom: -10px;
}

.quickBookMobile {
  display: none;
}

@media (max-width: 1000px) {
  .quickBookMobile {
    display: block;
  }

  .bookInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 4px;
  }

  .quickBookTabs,
  .bookInput {
    display: none;
  }

  .quickBook {
    height: 120px;
    padding: 16px 40px;
    margin: 0 10px;
  }

  .appStore {
    display: flex;
    flex-direction: column;
  }

  .downloadPara {
    margin-bottom: 16px;
    text-align: center;
  }

  .quickBookMobile {
    text-align: center;
  }

  .bookDropdownMenu {
    display: flex;
    text-align: center;
    margin: 16px 16px;
    justify-content: center;
  }

  .bookACar {
    background-color: #e21e26;
    border: none;
    color: white;
    border-radius: 8px;
    width: 160px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
  }

  .bookACar:hover {
    background-color: #b6171c;
  }

  .bookQuick {
    background-color: transparent;
    border: 2px solid #e21e26;
    color: #e21e26;
    border-radius: 8px;
    background-color: white;
    width: 160px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
    height: 38px;
    cursor: pointer;
  }

  .bookQuick:hover {
    background-color: rgb(219, 219, 219);
  }

  .bookTabs {
    display: none;
    margin-left: -20px;
    padding-right: 20px;
  }

  .bookTabs.active {
    display: block;
  }

  .bookTabsListMv {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .bookTabsLiMv a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 400;
    line-height: 56.74px;
    letter-spacing: -0.035em;
    text-align: left;
    padding: 4px;
  }

  .tabsLiMv a:hover {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
    line-height: 56.74px;
    letter-spacing: -0.035em;
    text-align: left;
    border-bottom: 1px solid black;
  }

  .vehicleSelectmv {
    border: 0;
    cursor: pointer;
  }

  .quickBookLi {
    list-style: none;
  }

  .pickupSelectmv,
  .dropOffLocation,
  .pickupDate,
  .dropOffDate {
    padding: 16px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #f6f7f9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .quickbookSearch {
    background-color: #e21e26;
    border: none;
    color: white;
    border-radius: 4px;
    width: 160px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
    height: 38px;
    margin: 16px 64px;
    cursor: pointer;
  }
}
