.popularCarCard {
  display: flex;
  height: 290px;
  width: 754px;
  border: 1px solid #d9d9d9;
  margin-right: 22px;
  flex-shrink: 0;
}

.popularCarCardInfo {
  padding: 20px 40px;
  width: 394px;
}

.popularCarCardInfoHeading {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
}

.popularCarCardInfoPara {
  font-size: 12px;
  font-weight: 400;
  line-height: 18.5px;
  text-align: left;
  width: 298px;
}

.popularCarUl {
  list-style: none;
  display: flex;
  margin-top: 52px;
}

.popularcarLi {
  font-size: 11px;
  font-weight: 500;
  line-height: 16.5px;
  letter-spacing: -0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  width: auto;
}

.popularcarLiImg {
  margin-right: 8px;
}

.popularcarLi p {
  width: 60px;
}

.popularCarCardInfo2 {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.popularCardCost {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.bookNowButton {
  width: 128px;
  height: 38px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
  background-color: #e21e26;
  cursor: pointer;
}

@media (max-width: 786px) {
  .popularCarCard {
    display: block;
    width: 207px;
    height: auto;
  }

  .popularCarCardImg {
    width: 207px;
    height: 127px;
    object-fit: cover;
  }

  .popularCarCardInfo {
    padding: 10px;
    width: 207px;
  }

  .popularCarCardInfoHeading {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .popularCarCardInfoPara {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
    width: auto;
    height: 49px;
    overflow: hidden;
  }

  .popularCarUl {
    list-style: none;
    display: flex;
    margin-top: 11px;
    overflow: hidden;
  }

  .popularcarLi {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 17px;
    margin-right: 8px;
    width: 70px;
  }

  .popularcarLiImg {
    margin-right: 8px;
    width: 17px;
    height: 17px;
  }

  .popularcarLi p {
    height: 15px;
    width: 80px;
    text-wrap: nowrap;
  }

  .popularCarCardInfo2 {
    display: block;
  }

  .bookNowButton {
    margin: 10px 0px;
  }
}
